body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: #fafafa;
}

main {
    padding: 20px 20px 20px 40px;

    transition: transform 0.3s ease-out;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;

    background-color: #f5f5f5;
    border-right: 2px solid #ddd;
    box-sizing: border-box;
    padding: 20px 15px;

    transform: translateX(-285px);
    transition: transform 0.3s ease-out;

    cursor: pointer;

    display: flex;
    flex-direction: column;
}


body.menu-open nav {
    transform: translateX(0);
    cursor: default;
}

body.menu-open main {
    transform: translateX(300px);
}



nav .empty-space {
    flex-grow: 1;
}

nav h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

nav button {
    display: block;
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;

    background: transparent;
    border: none;
    text-align: left;
    font-size: 16px;
    color: #666;
    cursor: pointer;
    border-radius: 4px;
}

nav button:hover {
    background-color: #e0e0e0;
    color: #000;
}