@media (prefers-color-scheme: dark) {
    body {
        background: #330620;
        color: #ddccbb;
    }
}

div {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1000px) {
    div {
        max-width: 90%;
        margin-left: 10px;
        margin-right: 10px;
    }
}